p {
	color: blue;
}
h1 {
    border-style: solid;
    border-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: yellow;
	margin: 10px;
    padding: 20px;
	
}

h1 {
	text-align: center;
}

body {
	background-image: url("http://www.mango.org/Mangos/media/Media/Images/Recipes/Beauty%20Images/Blog_Beauty_Shot2_682X370.jpg");
} 