p {
	color: red;
}
h1 {
    border-style: solid;
    border-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: yellow;
	margin: 10px;
    padding: 20px;
	
}
ul{
	list-style-type: none; 
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}
li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}
li a:hover{
	background-color: #555;
	color: white;
}
h1 {
	text-align: center;
}

body {
	background-image: url("http://www.mango.org/Mangos/media/Media/Images/Recipes/Beauty%20Images/Blog_Beauty_Shot2_682X370.jpg");
} 